body{
    background-image: url(Imagenes/paisaje.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}
.title{
    background-image: url(Imagenes/blancobackground.jpg);
    background-position: top center;
    align-items: center;
    width: 200px;
    height: 55px;
    margin-left: 44%;
    text-align: center;
    border-radius: 10px;
    border: solid 2px black;
    padding-bottom: 40px;
}
.titletext{
    font-family: "Oswald", sans-serif;
    padding-bottom: 15px;
}


